
<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Takip Edilenler</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="server-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Ödüllerim</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Yardım</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Bize Ulaşın</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Ayarlar</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="git-compare-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Sınav Değiştir</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSlot()">
      <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Giriş Yap</ion-title>
  <ion-buttons slot="end">
    </ion-buttons>
</ion-toolbar>










</ion-content>
